    <!-- Background image with text and button -->

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1590082197310-aff5ed08579f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80)">
      <div class="container" style="height: 100vh">
        <h1>Find a talent</h1>
          <div class="container text-center" style="margin-top: 120px;">
            <%= link_to "Search", contacts_path, class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>





